body{margin:0;padding:0;background-color:#ffc248;}
body #container .header,body #container .article,body #container .footer,body #container .back{width:100%}
body #container .header{position:absolute;top:0}
body #container .article{position:absolute;top:200px}
body #container .footer{position:absolute;bottom:0}
body #container .back{background-image:url("/images/background.png");background-repeat:no-repeat;background-size:cover;position:absolute;min-height:100%;left:0;top:0}
body #container #logo{display:block;margin:0 auto}
body #container #frame{display:block;margin:0 auto}
body #container #movie{position:relative;margin:0 auto;width:640px;top:14px}
body #container #ca14{display:block;margin:0 auto}
body #container #top{display:block;margin:0 auto}
body #container #bottom{display:block;margin:0 auto}
