html{margin:0;padding:0;overflow:hidden;}
html body{background-color:#ffc248;}
html body #container .header,html body #container .article,html body #container .footer,html body #container .back{width:100%}
html body #container .header{position:absolute;top:0}
html body #container .article{position:absolute;top:200px}
html body #container .footer{position:absolute;bottom:0}
html body #container .back{background-image:url("images/background.png");background-repeat:no-repeat;background-size:cover;position:absolute;min-height:100%;left:0;top:0}
html body #container .logo-container{top:-200px;}
html body #container .logo-container #logo{display:block;margin:0 auto}
html body #container #frame{display:block;margin:0 auto}
html body #container #movie{position:relative;margin:0 auto;width:640px;top:14px}
html body #container .ca14-container{bottom:-400px;}
html body #container .ca14-container #ca14{display:block;margin:0 auto}
html body #container .deco-container{opacity:0;}
html body #container .deco-container #top{display:block;margin:0 auto}
html body #container .deco-container #bottom{display:block;margin:0 auto}
