body
  margin 0
  padding 0
  background-color #ffc248

  #container

    .header, .article, .footer, .back
      width 100%

    .header
      position absolute
      top 0

    .article
      position absolute
      top 200px

    .footer
      position absolute
      bottom 0

    .back
      background-image url("/images/background.png")
      background-repeat no-repeat
      background-position center center
      position absolute
      height 100%
      left 0
      top 0

    #logo
      display block
      margin 0 auto

    #frame
      display block
      margin 0 auto

    #movie
      position relative
      margin 0 auto
      width 640px
      top 14px

    #ca14
      display block
      margin 0 auto

    #top
      display block
      margin 0 auto

    #bottom
      display block
      margin 0 auto
